ul.menu {
    list-style-type: none;
    margin: 0x;
    padding: 0;
    overflow: hidden;
    background-color: wheat;
    font-family: Times New Roman, Times, serif 
  }
  
  ul.menu li {
    float: left;
  }
  
  ul.menu li a {
    display: block;
    color: brown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Times New Roman, Times, serif 
  }
  
  ul.menu li a:hover:not(.active) {
    background-color:rosybrown;
    font-family: Times New Roman, Times, serif 
  }
  
  .active {
    background-color:rosybrown;
    font-family: Times New Roman, Times, serif  
  }
  

